<div class="updateProduct">
    <div class="productFormHeading">
        <h1>Update Product</h1>
        <!-- <p class="productMessage">{{}}</p> -->
        <form #addProduct="ngForm"  class="commonForm">
            <input ngModel class="formInput" type="text" name="name" placeholder="Product Title">
            <input ngModel class="formInput" type="text" name="price" placeholder="Product Price">
            <input ngModel class="formInput" type="text" name="color" placeholder="Product Color">
            <input ngModel class="formInput" type="text" name="category" placeholder="Product Category">
            <textarea ngModel class="form-control" type="text" name="description" placeholder="Product Description"></textarea>
            <input ngModel class="formInput" type="text" name="image" placeholder="Product Image URL">
            <button class="formButton">Update Product</button>
        </form>
    </div>
</div>